[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "ornithological-potential"
version = "0.0.1"
description = "Python pipeline that grids any study area, classifies and clusters birdâ€species assemblages per cell using iNaturalist/eBird data, and identifies richness hotspots"
authors = [
  { name = "Pablo Jusim" },
]
license = { file = "LICENSE" }
readme = "README.md"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License"
]
requires-python = ">=3.8"

[tool.flit.metadata]
module = "aux_ornitho_modules"



[tool.ruff]
line-length = 99
src = ["ornithological_potential"]
include = ["pyproject.toml", "ornithological_potential/**/*.py"]

[tool.ruff.lint]
extend-select = ["I"]  # Add import sorting

[tool.ruff.lint.isort]
known-first-party = ["ornithological_potential"]
force-sort-within-sections = true

